
@{
    ViewBag.Title = "Index";
}

<style>
    {
        padding-top: 65px;
    }
</style>

<h2>@ViewBag.Title.</h2>

<section id="about">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <img class="img-responsive img-circle img-center" src="/MyUploads/resized_ProfessionalPhoto.png" />
        </div>
        <div class="col-sm-6 col-sm-offset-1">
            <h1>Hello, I am Jessica Ansong...</h1>
            <p>I'm a .NET developer with expertise in C#, JavaScript, JQuery, HTML5, MVC5, and Bootstrap. I am currently enrolled in the Master Class at the Coder Foundry's .NET bootcamp. I have worked at <a href="www.uber.com">Uber</a> and on health initiatives at the<a href="http://nul.iamempowered.com/.">National Urban League.</a> I earned a Master of Public Health degree in the Social and Behavioral Sciences from Boston University and a Bachelor of Arts degree in Psychology from Spelman College. I enjoy experimenting with new mobile applications and updating my lifestyle blog during my free time. </p>
            <a href="#portfolio" class="btn btn-theme transparent scrollto">View my Works</a>
            @*<div class="col-sm-11">
                    <a href="www.linkedin.com/in/jessicaansong" class="btn btn-theme transparent scrollto">View my Resume</a>
                </div>*@<!--End row (bottom)-->
        </div>

    </div><!--End row -->
</section>