
@{
    ViewBag.Title = "Index";
}



    <div id="portfolio-header" class="text-center">

        @*<h1 class="section-title scrollimation scale-in">The <span>works</span> I am proud of<i class="fa fa-pencil"></i></h1>*@
        <h1 class="section-title">The <span>works</span> I am proud of<i class="fa fa-pencil"></i></h1>
        
        <div class="row">
            
            <div class="col-md-3"><!--JS-->
                <h2><a href="@Url.Action("JavaScriptExercises", "Works")">JavaScript Exercises</a></h2>
            </div><!--/ JS-->
            
            <div class="col-md-3"><!--CarApp-->
                <h2><a href="http://jansong-jaycarapp.azurewebsites.net">Car App</a></h2>
            </div><!--/Car App-->
        
            <div class="col-md-3"><!--BugTracker-->
                <h2>Bug Tracker</h2>
            </div><!--/ BugTracker-->

            <div class="col-md-3"><!--FinancialPortal-->
                <h2>Financial Portal</h2>
            </div><!--/ FinancialPortal-->

        </div>
        </div>
     





