@{
    ViewBag.Title = "Home Page";
}

<!-- ==============================================
        HEADER
        =============================================== -->
<header id="home" class="jumbotron" style="background-repeat:no-repeat;
margin:auto;
background-position:center;

background-image:url(../../PortfolioTemplate/HTML/TemplateHTMLAssets/header-bg.jpg)">
 
    <div class="container">



    </div><!--End container -->

</header><!--End header -->
